* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #ce796b;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
}

.btn {
  padding: 0.9rem 1.8rem;
  border-radius: 10px;
  border: none;
  background-color: #495867;
  color: #fff;
  border: 2px solid #000;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #262d35;
}

.text-center {
  text-align: center;
}

.box {
  background-color: #ecc8af;
  border: 3px solid #000;
  color: #000;
  border-radius: 5px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header {
  height: 50px;
  padding: 2rem;
  background-color: #e7ad99;
  border-bottom: 3px solid #000;
}

.main-header h1 {
  font-size: 2.5rem;
}

.showcase {
  margin: 2rem;
}

.game-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.player-container {
  height: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100px 1fr 85px;
      grid-template-rows: 100px 1fr 85px;
}

.player-container header {
  height: 100%;
  padding: 0.8rem;
  background-color: #e7ad99;
  border-bottom: 3px solid #000;
}

.player-container header span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.player-container footer {
  height: 100%;
  border-top: 3px solid #000;
  background-color: #e7ad99;
}

.player-container .agents-list {
  margin-top: 1rem;
  list-style: none;
  padding: 0 0.8rem;
}

.player-container .agent-list-item {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #495867;
  color: #fff;
  margin: 0.5rem 0;
}

.player-container .agent-list-item:hover {
  background-color: #262d35;
}

.player-container .agentsDiv {
  padding: 0.6rem;
}

.player-container .damaged {
  color: #cf0721;
  font-weight: bold;
}

.player-container .selected {
  background-color: #262d35;
}

.player-container .in-combat {
  background-color: #eb4157;
  color: #fff;
}

.player-container .endGameText {
  font-size: 10rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
}

.p1-container {
  margin-right: 1rem;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.p2-container {
  margin-left: 1rem;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.arena {
  height: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100px 250px 300px 85px;
      grid-template-rows: 100px 250px 300px 85px;
}

.arena header {
  padding: 1rem;
  background-color: #e7ad99;
  grid-column: span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arena header h2 {
  font-size: 2rem;
}

.arena header p {
  font-size: 1.5rem;
}

.agent-info {
  height: 100%;
  text-align: center;
  grid-column: span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-color: #e7ad99;
  border-bottom: 3px solid #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.agent-info .stats-container {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 0 1rem;
}

.agent-info h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.agent-info p {
  font-size: 1.5rem;
  margin: 0.3rem 0;
}

.agent-info img {
  margin-top: 1rem;
  height: 100%;
  max-height: 100px;
}

.battle {
  height: 100%;
  text-align: center;
  grid-column: span 2;
  font-size: 1.2rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50px 100px 1fr;
      grid-template-rows: 50px 100px 1fr;
}

.battle h2 {
  font-size: 3rem;
}

.battle .verses-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.battle .verses-container span {
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.battle .verses-container .vs-text-p1 {
  justify-self: flex-end;
  font-weight: bold;
  font-size: 2.2rem;
}

.battle .verses-container .vs-text-p2 {
  justify-self: flex-start;
  font-weight: bold;
  font-size: 2.2rem;
}

.battle .battle-result {
  font-size: 1.5rem;
  text-align: center;
}

.controls {
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 3px solid #000;
  text-align: center;
  grid-column: span 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  padding: 1rem;
  background-color: #e7ad99;
}

.gameover {
  display: none;
}

@media (max-width: 1025px) {
  .game-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 20px;
  }
  .p1-container {
    margin: 0;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .p1-container #agentsDivP1, .p1-container #endGameDivP1 {
    padding: 1rem;
  }
  .p2-container {
    margin: 0;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .p2-container #agentsDivP2, .p2-container #endGameDivP2 {
    padding: 1rem;
  }
  .arena {
    grid-column: span 2;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-rows: 100px 300px 300px 85px;
        grid-template-rows: 100px 300px 300px 85px;
  }
  .battle .battle-result {
    font-size: 2rem;
    text-align: center;
  }
  .agent-info {
    padding: 2rem;
  }
  .agent-info .stats-container {
    text-align: center;
  }
  .agent-info img {
    margin: 1rem 0;
    height: 100%;
    max-height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */